/Add.class
/AddMain_01.class
/LambdaMain_03.class
/LambdaMain_05.class
/MyFunctionInterfaec.class
/MyNumber.class
/Myfunction.class
/Quiz.class
/StreamOperationMain_02.class
/StringConCatImple.class
/StringConCatImpleMain_04$1.class
/StringConCatImpleMain_04.class
/StringConcat.class
